force-app/main/default/flows/Account_Score_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Are all the accounts associated with contacts?</description>
        <name>Add_account_associated_with_contact_into_the_list</name>
        <label>Add account associated with contact into the list</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>ScoreList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Score_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_all_Score_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Automation Level</description>
        <name>Add_automation_into_the_list</name>
        <label>Add automation into the list</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ScoreList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Score_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interrogation_Question_Int_0032</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Are we using the an appropriate number of record types for your business?</description>
        <name>Add_business_process_and_record_type_values_into_the_list</name>
        <label>Add business process and record type values into the list</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>ScoreList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Score_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interrogation_Question_Int_0006</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many active duplicate rules are there on this object?</description>
        <name>Add_Duplicate_Rule_into_the_list</name>
        <label>Add Duplicate Rule into the list</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ScoreList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Score_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interrogation_Question_Int_0027</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many validation rules do you have on this object?</description>
        <name>Add_Validation_count_into_the_list</name>
        <label>Add Validation count into the list</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ScoreList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Score_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_active_duplicate_rules_are_there_on_this_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Are all the accounts associated with contacts</description>
        <name>Are_all_the_accounts_associated_with_contacts</name>
        <label>Are all the accounts associated with contacts?</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Score_Record.Scoring_Rule_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Are all the accounts associated with contacts?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>If Checked then 10 otherwise 5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Account_Associate_With_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_account_associated_with_contact_into_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Are we using the an appropriate number of record types for your business?</description>
        <name>Are_we_using_the_an_appropriate_number_of_record_types_for_your_business</name>
        <label>Are we using the an appropriate number of record types for your business?</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Score_Record.Scoring_Rule_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Are we using the an appropriate number of record types for your business?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business_Process-record_type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessPorcess_And_RecordType_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_business_process_and_record_type_values_into_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Automation Level</description>
        <name>Automation_Level</name>
        <label>Automation Level</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Score_Record.Scoring_Rule_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automation Level</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>let x be the response to 13 (True/False)  let y be the COUNT() of automations used (Number of Flows + Number of Triggers + Number of process builders + number of workflow rules)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automation_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_automation_into_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many active duplicate rules are there on this object</description>
        <name>How_many_active_duplicate_rules_are_there_on_this_object</name>
        <label>How many active duplicate rules are there on this object?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Score_Record.Scoring_Rule_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>How many active duplicate rules are there on this object?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let x = number of active duplicate rules</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Duplicate_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Duplicate_Rule_into_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many validation rules do you have on this object?</description>
        <name>How_many_validation_rules_do_you_have_on_this_object</name>
        <label>How many validation rules do you have on this object?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Score_Record.Scoring_Rule_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>How many validation rules do you have on this object?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let x = number of active validation rules</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score_Record.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Validation_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Validation_count_into_the_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Record_Exist</name>
        <label>Check If Record Exist</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assist_Question_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Salesforce_Assist_Score_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Score_Records</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Calculates the score based on the what we have extracted from the account</description>
    <environments>Default</environments>
    <formulas>
        <description>If Question 46 is true then 10 otherwise calculate by using static question &quot;Automation&quot;.</description>
        <name>Automation_Label</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Interrogation_Question_Int_0027.Value__c} = &apos;true&apos;, 
    10,
    IF(
        {!Assist_Question_Answer.Account_Q_5__c} = 0, 
        0,
        IF(
            AND({!Assist_Question_Answer.Account_Q_5__c} &gt; 0, {!Assist_Question_Answer.Account_Q_5__c} &lt;= 3),
            2,
            IF(
				AND({!Assist_Question_Answer.Account_Q_5__c} &gt; 3, {!Assist_Question_Answer.Account_Q_5__c} &lt;= 5),
                4,
                IF(
					AND({!Assist_Question_Answer.Account_Q_5__c} &gt; 5, {!Assist_Question_Answer.Account_Q_5__c} &lt;= 8),
					5,
					IF(
						AND({!Assist_Question_Answer.Account_Q_5__c} &gt; 8, {!Assist_Question_Answer.Account_Q_5__c} &lt;= 10),
						4,
						IF(
							{!Assist_Question_Answer.Account_Q_5__c} &gt; 10,
							1,
							Null
						)
					)
				)
            )
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>How many validation rules do you have on this object?</description>
        <name>BusinessPorcess_And_RecordType_Result</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!BusinessProcess_RecordType} = 0, 
    10,
    IF(
        AND({!BusinessProcess_RecordType} &gt; 0, {!BusinessProcess_RecordType} &lt;= 2), 
        7,
        IF(
            AND({!BusinessProcess_RecordType} &gt; 2, {!BusinessProcess_RecordType} &lt;= 4), 
            4,
            IF(
                {!BusinessProcess_RecordType} &gt;= 5, 
                0,
                null
            )
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>No. of Business Process - No. of Record Type</description>
        <name>BusinessProcess_RecordType</name>
        <dataType>Number</dataType>
        <expression>ABS({!Assist_Question_Answer.Account_Q_2__c}-value({!Interrogation_Question_Int_0032.Value__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>How many active duplicate rules are there on this object?</description>
        <name>If_Duplicate_Rule</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Assist_Question_Answer.Account_Q_4__c} = 0, 
    0,
    IF(
        {!Assist_Question_Answer.Account_Q_4__c} = 1, 
        7,
        IF(
            {!Assist_Question_Answer.Account_Q_4__c} = 2, 
            10,
            IF(
				{!Assist_Question_Answer.Account_Q_4__c} = 3,
                7,
                IF(
					{!Assist_Question_Answer.Account_Q_4__c} &gt;= 4,
					0,
					Null
				)
            )
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>If_Validation_Rule</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Assist_Question_Answer.Account_Q_7__c} = 0, 
    0,
    IF(
        AND({!Assist_Question_Answer.Account_Q_7__c} &gt; 0, {!Assist_Question_Answer.Account_Q_7__c} &lt;= 3), 
        4,
        IF(
            AND({!Assist_Question_Answer.Account_Q_7__c} &gt; 3, {!Assist_Question_Answer.Account_Q_7__c} &lt;= 5), 
            7,
            IF(
				AND({!Assist_Question_Answer.Account_Q_7__c} &gt; 5, {!Assist_Question_Answer.Account_Q_7__c} &lt;= 8),
                10,
                IF(
					AND({!Assist_Question_Answer.Account_Q_7__c} &gt; 8, {!Assist_Question_Answer.Account_Q_7__c} &lt;= 12),
					7,
					IF(
						AND({!Assist_Question_Answer.Account_Q_7__c} &gt; 12, {!Assist_Question_Answer.Account_Q_7__c} &lt;= 18),
						4,
						IF(
							{!Assist_Question_Answer.Account_Q_7__c} &gt; 18, 
							0,
							Null
						)
					)
				)
            )
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Are all the accounts associated with contacts?</description>
        <name>Is_Account_Associate_With_Contacts</name>
        <dataType>Number</dataType>
        <expression>IF({!Interrogation_Question_Int_0006.Value__c} = &apos;true&apos;, 10, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Score Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Score Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_all_Score_records</name>
        <label>Create all Score records</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <inputReference>ScoreList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Score_Records</name>
        <label>Delete All Score Records</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assist_Question_Answer</targetReference>
        </connector>
        <inputReference>Salesforce_Assist_Score_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>We will retrieve the question answers from the &quot;Salesforce Assist Question/Answer&quot; object.</description>
        <name>Assist_Question_Answer</name>
        <label>Assist Question/Answer</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_many_validation_rules_do_you_have_on_this_object</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Assist_Question_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Are all the accounts associated with contacts?</description>
        <name>Interrogation_Question_Int_0006</name>
        <label>Interrogation Question Int-0006</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_all_the_accounts_associated_with_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Int-0050</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interrogation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Are you happy with the amount of automation that is currently in your system? (check if yes)</description>
        <name>Interrogation_Question_Int_0027</name>
        <label>Interrogation Question Int-0027</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Automation_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Int-0027</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interrogation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>How many business processes are required on the Account level?</description>
        <name>Interrogation_Question_Int_0032</name>
        <label>Interrogation Question Int-0032</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_we_using_the_an_appropriate_number_of_record_types_for_your_business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Int-0025</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interrogation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Salesforce_Assist_Score_Records</name>
        <label>Salesforce Assist Score Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Salesforce_Assist_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Salesforce_Assist_Score_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>If activities are being used anywhere in the LEADS object.</description>
        <name>Lead_Q1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This variable is used to store the value which is coming through the lwc.</description>
        <name>ObjactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Score_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salesforce_Assist_Score__c</objectType>
    </variables>
    <variables>
        <name>ScoreList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salesforce_Assist_Score__c</objectType>
    </variables>
</Flow>
