force-app/main/default/flows/Acct_Org_Owner_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_No_State</name>
        <label>Org Account Ownership Assign Email_No State</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_No_State</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_No_State</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_NSW_ACT</name>
        <label>Org Account Ownership Assign Email_NSW_ACT</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_NSW_ACT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_NSW_ACT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_QLD</name>
        <label>Org Account Ownership Assign Email_QLD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_QLD</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_QLD</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_SA_NT</name>
        <label>Org Account Ownership Assign Email_SA_NT</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_SA_NT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_SA_NT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_VIC_TAS</name>
        <label>Org Account Ownership Assign Email_VIC_TAS</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_VIC_TAS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_VIC_TAS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Ownership_Assign_Email_WA</name>
        <label>Org Account Ownership Assign Email_WA</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Account.Org_Account_Ownership_Assignment_WA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Org_Account_Ownership_Assignment_WA</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Billing_State</name>
        <label>Check Billing State</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_Blank_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QLD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_QLD</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New South Wales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Capital Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_NSW_ACT</targetReference>
            </connector>
            <label>NSW_ACT</label>
        </rules>
        <rules>
            <name>VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victoria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tasmania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_VIC_TAS</targetReference>
            </connector>
            <label>VIC_TAS</label>
        </rules>
        <rules>
            <name>SA_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northern Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_SA_NT</targetReference>
            </connector>
            <label>SA_NT</label>
        </rules>
        <rules>
            <name>WA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Western Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_WA</targetReference>
            </connector>
            <label>WA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Acct_Org Owner Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acct_Org Owner Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Owner_Blank_State</name>
        <label>Update Owner_Blank State</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_No_State</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w0000093FqFAAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_NSW_ACT</name>
        <label>Update Owner_NSW_ACT</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_NSW_ACT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Ob000000Fm7ZIAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_QLD</name>
        <label>Update Owner_QLD</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_QLD</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008Jub4AAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_SA_NT</name>
        <label>Update Owner SA_NT</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_SA_NT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JubDAAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_VIC_TAS</name>
        <label>Update Owner_VIC_TAS</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_VIC_TAS</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JubBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_WA</name>
        <label>Update Owner WA</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Org_Account_Ownership_Assign_Email_WA</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JLVnAAO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Billing_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000001Aw56AAC</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
