force-app/main/default/flows/Camp_FndPg_Alert_10000_14999.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_No_State</name>
        <label>Fund Pg Campaign Amount Alert_No State</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_No_State</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_No_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_No_State</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_NSW_ACT</name>
        <label>Fund Pg Campaign Amount Alert_NSW/ACT</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_NSW_ACT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_NSW_ACT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_NSW_ACT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_QLD</name>
        <label>Fund Pg Campaign Amount Alert_QLD</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_QLD</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_QLD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_QLD</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_SA_NT</name>
        <label>Fund Pg Campaign Amount Alert_SA/NT</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_SA_NT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_SA_NT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_SA_NT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_VIC_TAS</name>
        <label>Fund Pg Campaign Amount Alert_VIC/TAS</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_VIC_TAS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_VIC_TAS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_VIC_TAS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fund_Pg_Campaign_Amount_Alert_WA</name>
        <label>Fund Pg Campaign Amount Alert_WA</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Campaign.Fund_Pg_Campaign_Amount_Alert_WA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tick_Em_6_Sent_WA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Fund_Pg_Campaign_Amount_Alert_WA</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Fund_Page_Owner_State</name>
        <label>Fund Page Owner State</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Fund_Pg_Campaign_Amount_Alert_No_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No State</defaultConnectorLabel>
        <rules>
            <name>QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Pg_Campaign_Amount_Alert_QLD</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Pg_Campaign_Amount_Alert_NSW_ACT</targetReference>
            </connector>
            <label>NSW/ACT</label>
        </rules>
        <rules>
            <name>VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Pg_Campaign_Amount_Alert_VIC_TAS</targetReference>
            </connector>
            <label>VIC/TAS</label>
        </rules>
        <rules>
            <name>SA_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Pg_Campaign_Amount_Alert_SA_NT</targetReference>
            </connector>
            <label>SA/NT</label>
        </rules>
        <rules>
            <name>WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Pg_Campaign_Amount_Alert_WA</targetReference>
            </connector>
            <label>WA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Camp_FndPg_Alert_10000_14999 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Camp_FndPg_Alert_10000_14999</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Tick_Em_6_Sent_No_State</name>
        <label>Tick Em 6 Sent_No_State</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tick_Em_6_Sent_NSW_ACT</name>
        <label>Tick Em 6 Sent_NSW_ACT</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tick_Em_6_Sent_QLD</name>
        <label>Tick Em 6 Sent_QLD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tick_Em_6_Sent_SA_NT</name>
        <label>Tick Em 6 Sent_SA_NT</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tick_Em_6_Sent_VIC_TAS</name>
        <label>Tick Em 6 Sent_VIC_TAS</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tick_Em_6_Sent_WA</name>
        <label>Tick Em 6 Sent_WA</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fund_Page_Owner_State</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3) AND 4</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising Page</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Value_of_Fundraising_Page__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Value_of_Fundraising_Page__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>14999.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Fund_Page_Alert_6_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
