force-app/main/default/flows/Camp_New_Fund_Pg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_No_State</name>
        <label>New Fundraising Campaign Creation Alert_No State</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_NoState</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_No_state_for_new_fundraising_page</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_NoState</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_NSW_ACT</name>
        <label>New Fundraising Campaign Creation Alert_NSW/ACT</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_NSW_ACT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_NSW_ACT_fundraising_page_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_NSW_ACT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_QLD</name>
        <label>New Fundraising Campaign Creation Alert_QLD</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_QLD</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Qld_fundraising_page_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_QLD</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_SA_NT</name>
        <label>New Fundraising Campaign Creation Alert_SA/NT</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_SA_NT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_New_SA_NT_Fundraising_Page_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_SA_NT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_VIC_TAS</name>
        <label>New Fundraising Campaign Creation Alert_VIC/TAS</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_VIC_TAS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_VIC_TAS_fundraising_page_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_VIC_TAS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fundraising_Campaign_Creation_Alert_WA</name>
        <label>New Fundraising Campaign Creation Alert_WA</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Campaign.New_Fundraising_Campaign_Creation_Alert_WA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_New_WA_fundraising_page_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Fundraising_Campaign_Creation_Alert_WA</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Page_Owner_State</name>
        <label>Check Page Owner State</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QLD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_QLD</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New South Wales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Capital Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_NSW_ACT</targetReference>
            </connector>
            <label>NSW/ACT</label>
        </rules>
        <rules>
            <name>VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victoria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tasmania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_VIC_TAS</targetReference>
            </connector>
            <label>VIC/TAS</label>
        </rules>
        <rules>
            <name>SA_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northern Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_SA_NT</targetReference>
            </connector>
            <label>SA/NT</label>
        </rules>
        <rules>
            <name>WA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Western Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_WA</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>No_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Page_Owner_State__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Fundraising_Campaign_Creation_Alert_No_State</targetReference>
            </connector>
            <label>No State</label>
        </rules>
    </decisions>
    <description>Send Email Alert (State appropriate) and create follow up Task</description>
    <environments>Default</environments>
    <interviewLabel>Camp_New Fund Pg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Camp_New Fund Pg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_VIC_TAS_fundraising_page_created</name>
        <label>New VIC/TAS fundraising page created</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JubBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128v0000004HbJAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New VIC/TAS fundraising page created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_New_SA_NT_Fundraising_Page_Created</name>
        <label>Task - New SA/NT Fundraising Page Created</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JubDAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128v0000004HbJAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New SA/NT fundraising page created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_New_WA_fundraising_page_created</name>
        <label>Task - New WA fundraising page created</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008JLVnAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128v0000004HbJAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New WA fundraising page created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_No_state_for_new_fundraising_page</name>
        <label>Task - No state for new fundraising page</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000005Nhy6AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New fundraising page no state</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_NSW_ACT_fundraising_page_created</name>
        <label>Task - NSW/ACT fundraising page created</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058v000000IlWcAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128v0000004HbJAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New NSW/ACT fundraising page created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Qld_fundraising_page_created</name>
        <label>Task - Qld fundraising page created</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000008Jub4AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128v0000004HbJAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qld fundraising page created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Page_Owner_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising Page</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
