force-app/main/default/flows/Case_Total_Assistance_provided_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Total_Fin_CFY_Total_In_Kind_CFY</name>
        <label>Assign Total Fin. CFY &amp; Total In Kind CFY</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TotalFinAssCFY</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Acct_Fin_Ass_Case.Dollar_value_of_financial_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalInKindAssCFY</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Acct_Fin_Ass_Case.Dollar_value_of_in_kind_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Acct_Fin_Ass_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calc_Total_Fin_Ass_Amount_All</name>
        <label>Calc Total Fin. Ass Amount_All</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalFinAssAmount_All</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Acct_Fin_Ass_Case.Dollar_value_of_financial_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Case_Due_Date_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calc_Total_In_Kind_Ass_Amount</name>
        <label>Calc. Total In Kind Ass. Amount</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SumOfInKindAss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Acct_Fin_Ass_Case.Dollar_value_of_in_kind_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calc_Total_Fin_Ass_Amount_All</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_Case_Due_Date_Year</name>
        <label>Check Current Case Due Date Year</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Acct_Fin_Ass_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCaseYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Fin_CFY_Total_In_Kind_CFY</targetReference>
            </connector>
            <label>Current Year</label>
        </rules>
    </decisions>
    <description>If a new case is created or updated with Dollar value for financial and in kind assistance then update the same on Accounts relevant fields which is Total_In_Kind_Assistance_Provided__c, Total_In_Kind_Assistance_Provided_CFY__c, Total_Financial_Assistance_Provided_new__c, Total_Financial_Assistance_Provided_CFY__c</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckCaseYear</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!Loop_thru_Acct_Fin_Ass_Case.Date_Case_opened_by_Coordinator__c} &gt;= DATE(YEAR($Flow.CurrentDate), 7, 1),
    {!Loop_thru_Acct_Fin_Ass_Case.Date_Case_opened_by_Coordinator__c} &lt;= DATE(YEAR($Flow.CurrentDate) + 1, 6, 30)
)</expression>
    </formulas>
    <interviewLabel>Case Total Assistance provided Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Total Assistance provided Calculation</label>
    <loops>
        <name>Loop_thru_Acct_Fin_Ass_Case</name>
        <label>Loop thru Acct Fin Ass Case</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>AcctFinAssCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calc_Total_In_Kind_Ass_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Acct_Fin_Ass_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAcctCases</name>
        <label>getAcctCases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Acct_Fin_Ass_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AcctFinAssCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dollar_value_of_financial_assistance__c</queriedFields>
        <queriedFields>Dollar_value_of_in_kind_assistance__c</queriedFields>
        <queriedFields>Date_Case_opened_by_Coordinator__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acct_Fin_Ass_Total</name>
        <label>Update Acct Fin Ass Total</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Financial_Assistance_Provided_CFY__c</field>
            <value>
                <elementReference>TotalFinAssCFY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Financial_Assistance_Provided_new__c</field>
            <value>
                <elementReference>TotalFinAssAmount_All</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_In_Kind_Assistance_Provided_CFY__c</field>
            <value>
                <elementReference>TotalInKindAssCFY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_In_Kind_Assistance_Provided__c</field>
            <value>
                <elementReference>SumOfInKindAss</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAcctCases</targetReference>
        </connector>
        <filterLogic>1 AND ((2 OR 3) OR (4 OR 5))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_in_kind_assistance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_in_kind_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFinAssTasks</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AcctFinAssCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>AcctFinAssTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>FlowDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAcctFinAssTasks_CFY</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SumOfInKindAss</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumTotalFinAss</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumTotalFinAss_All</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFinAssAmount_All</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFinAssCFY</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalInKindAssCFY</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
