force-app/main/default/flows/Case_after_save_and_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_First_Week_Post_Discharge_Contact</name>
        <label>Four Week Post-Discharge Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4-Week Post-Discharge Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondTaskReminderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondFollowUpTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondFollowUpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Three_Months_Post_Discharge_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Week_Post_Discharge_Contact</name>
        <label>First Week Post-Discharge Contact</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-Week Post-Discharge Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstTaskReminderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFollowUpTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstFollowUpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_First_Week_Post_Discharge_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Three_Months_Post_Discharge_Contact</name>
        <label>Three Months Post-Discharge Contact</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3-Months Post-Discharge Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdTaskReminderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdFollowUpTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThirdFollowUpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Closed</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Subject_hospital_admission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_RecordTypes</targetReference>
            </connector>
            <label>Status is Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>FirstTaskReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT(TODAY() + 6 ) &amp; &quot; 00:00:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SecondTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()  + 28</expression>
    </formulas>
    <formulas>
        <name>SecondTaskReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT(TODAY()  + 27 ) &amp; &quot; 00:00:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Subject_hospital_admission</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS(LOWER({!$Record.Subject}), &quot;hospital admission&quot;),
CONTAINS(LOWER({!$Record.Subject}), &quot;hospitaladmission&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>ThirdTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()  + 90</expression>
    </formulas>
    <formulas>
        <name>ThirdTaskReminderDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(
  TEXT(TODAY()  + 89) &amp; &quot; 00:00:00&quot;
)</expression>
    </formulas>
    <interviewLabel>Case after save and update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case after save and update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_tasks</name>
        <label>Insert tasks</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>TaskListToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_RecordTypes</name>
        <label>Get Task RecordTypes</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Week_Post_Discharge_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support_Task_In_Hospital</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterFormula>OR(
AND(
ISNEW(),
ISPICKVAL({!$Record.Status}, &quot;Closed&quot;),
OR( 
CONTAINS(LOWER({!$Record.Subject}), &quot;hospital admission&quot;),
CONTAINS(LOWER({!$Record.Subject}), &quot;hospitaladmission&quot;)
)
),
AND(
NOT(ISNEW()),
ISPICKVAL({!$Record.Status}, &quot;Closed&quot;),
ISCHANGED({!$Record.Status}),
OR(
CONTAINS(LOWER({!$Record.Subject}), &quot;hospital admission&quot;),
CONTAINS(LOWER({!$Record.Subject}), &quot;hospitaladmission&quot;)
)
)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstFollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SecondFollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ThirdFollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
