force-app/main/default/flows/Contact_Upon_Creation_Edit_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Dep 1 First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dep 1 First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Dep 1 First Name is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Sec Contact First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnectorLabel>FALSE_Sec Contact First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Sec Contact First Name is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Dep 2 First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dep 2 First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Dep 2 First Name is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Dep 3 First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dep 3 First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Dep 3 First Name is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Dep 4 First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dep 4 First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Dep 4 First Name is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Dep 5 First Name is Populated</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dep 5 First Name is Populated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_Dep 5 First Name is Populated</label>
        </rules>
    </decisions>
    <description>If Contact is created and (hidden) Dependent fields are populated and/or (hidden) Secondary Contact fields are populated then Dependents and/or Contact is created</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Dependent_1_First_Name__c}))),
AND(ISCHANGED({!$Record.Dependent_1_First_Name__c}),
NOT(ISBLANK({!$Record.Dependent_1_First_Name__c }))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Secondary_Contact_First_Name__c}))),
AND(ISCHANGED({!$Record.Secondary_Contact_First_Name__c}),
NOT(ISBLANK({!$Record.Secondary_Contact_First_Name__c }))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Dependent_2_First_Name__c}))),
AND(ISCHANGED({!$Record.Dependent_2_First_Name__c}),
NOT(ISBLANK({!$Record.Dependent_2_First_Name__c }))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Dependent_3_First_Name__c}))),
AND(ISCHANGED({!$Record.Dependent_3_First_Name__c}),
NOT(ISBLANK({!$Record.Dependent_3_First_Name__c }))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Dependent_4_First_Name__c}))),
AND(ISCHANGED({!$Record.Dependent_4_First_Name__c}),
NOT(ISBLANK({!$Record.Dependent_4_First_Name__c }))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(ISNEW(),NOT(ISBLANK({!$Record.Dependent_5_First_Name__c}))),
AND(ISCHANGED({!$Record.Dependent_5_First_Name__c}),
NOT(ISBLANK({!$Record.Dependent_5_First_Name__c }))
)
)</expression>
    </formulas>
    <interviewLabel>Contact - Depend &amp; Second Contact - Upon Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Depend &amp; Second Contact - Upon Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_11_A1</name>
        <label>Create Secondary Contact</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>Aboriginal_or_Torres_Strait_Islander__c</field>
            <value>
                <elementReference>$Record.Secondary_Contact_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Secondary_Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web form - HK Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Post_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.Secondary_Contact_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052w000005Nhy6AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Connection_to_CHD__c</field>
            <value>
                <elementReference>$Record.Secondary_Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Dep 1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Torres_Strait_Origin__c</field>
            <value>
                <elementReference>$Record.Dependent_1_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Type__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_1_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions_Other__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Heart_Conditions_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_1_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dependents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A1</name>
        <label>Create Dep 2</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Torres_Strait_Origin__c</field>
            <value>
                <elementReference>$Record.Dependent_2_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Type__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions_Other__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Heart_Conditions_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dependents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>Create Dep 3</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Torres_Strait_Origin__c</field>
            <value>
                <elementReference>$Record.Dependent_3_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Type__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_3_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions_Other__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Heart_Conditions_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_3_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dependents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Create Dep 4</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Torres_Strait_Origin__c</field>
            <value>
                <elementReference>$Record.Dependent_4_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Type__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_4_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions_Other__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Heart_Conditions_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_4_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dependents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A1</name>
        <label>Create Dep 5</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Torres_Strait_Origin__c</field>
            <value>
                <elementReference>$Record.Dependent_5_ATSI_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Type__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_5_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions_Other__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Heart_Conditions_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Dependent_5_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dependents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
