force-app/main/default/flows/Contact_Before_Save_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Mailing_Country</name>
        <label>Assign Mailing Country</label>
        <locationX>314</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Unchecked fields Marketing emails,Marketing SMS,Donor emails,Donor SMS,Donor phone calls,Support Updates,Support Personal 1:1 Only, Healthcare Professional Newsletter</description>
        <name>Copy_1_of_Uncheck_comms_and_Store_Backup</name>
        <label>Uncheck  comms related to Do Not Contact</label>
        <locationX>292</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Personal_1_1_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Solicitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Telemarketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Bereaved_Family_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_backup_values</name>
        <label>Empty backup values</label>
        <locationX>160</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Uncheck_comms_and_Store_Backup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Support_1_1_as_TRUE</name>
        <label>Mark Support 1:1 as TRUE</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Support_Personal_1_1_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Support_Personal_1_1_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Restore the fields Marketing emails,Marketing SMS,Donor emails,Donor SMS,Donor phone calls,Support Updates values from backup fields</description>
        <name>Restore_Backup_values</name>
        <label>Restore Backup values</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_emails_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_SMS_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_emails_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Phone_Calls_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_SMS_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_Updates_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Strategic_Communication_Backup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Healthcare_Professional_NewsletterBackup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_NewsletterBackup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the values of Marketing emails,Marketing SMS,Donor emails,Donor SMS,Donor phone calls,Support Updates fields in backup fields and Uncheck fields Marketing emails,Marketing SMS,Donor emails,Donor SMS,Donor phone calls,Support Updates</description>
        <name>Uncheck_comms_and_Store_Backup</name>
        <label>Uncheck  comms and Store Backup</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Marketing_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Donor_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Donor_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Donor_Phone_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Support_Updates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_NewsletterBackup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Healthcare_Professional_Newsletter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Strategic_Communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uncheck  comms and Store Backup when new record is created with support update 1:1 as true</description>
        <name>Uncheck_comms_and_Store_Backup_v1</name>
        <label>Uncheck  comms and Store Backup v1</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_emails_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Phone_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_Updates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_NewsletterBackup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Healthcare_Professional_Newsletter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Healthcare_Professional_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication_Backup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Strategic_Communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Strategic_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_comms_related_to_Do_Not_Call</name>
        <label>Uncheck comms related to Do Not Call</label>
        <locationX>314</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update fields Marketing Emails, Donor Emails, Support as false</description>
        <name>Uncheck_comms_related_to_No_Email</name>
        <label>Uncheck comms related to No Email</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_comms_related_to_No_Fundraising_Calls_comm</name>
        <label>Uncheck comms related to No Fundraising Calls comm</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Solicitation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uncheck the  Marketing SMS and Donor SMS when No SMS is checked</description>
        <name>Uncheck_comms_related_to_No_SMS</name>
        <label>Uncheck comms related to No SMS</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Fundraising_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_comms_related_to_No_Solicitation</name>
        <label>Uncheck comms related to No Solicitation</label>
        <locationX>314</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Donor_Phone_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Donor_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Do_Not_Call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Bereaved Family Status is on hold then update Support 1:1 as True</description>
        <name>Check_Bereaved_Family_Status</name>
        <label>Check Bereaved Family Status</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_Support_Personal_1_1_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bereaved_Status_is_on_hold</name>
            <conditionLogic>(3 AND 2) OR (4 AND 1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bereaved Family - on hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Support_1_1_as_TRUE</targetReference>
            </connector>
            <label>Bereaved Status is on hold</label>
        </rules>
    </decisions>
    <decisions>
        <description>When checked, uncheck donor phone calls.</description>
        <name>Check_Do_Not_Call</name>
        <label>Check Do Not Call</label>
        <locationX>446</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoNotCallChecked</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DoNotCall</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_related_to_Do_Not_Call</targetReference>
            </connector>
            <label>DoNotCallChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Do_Not_Contact</name>
        <label>Check Do Not Contact</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Bereaved_Family_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoNotContactTrue</name>
            <conditionLogic>(1 AND 2 AND 3) OR  (1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Support_1_1</targetReference>
            </connector>
            <label>DoNotContactTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If no email is checked then update fields Marketing Emails, Donor Emails, Support as false</description>
        <name>Check_No_Email</name>
        <label>Check No Email</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_No_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Email_Checked</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_related_to_No_Email</targetReference>
            </connector>
            <label>No Email Checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>When No Fundraising Calls is checked, uncheck the Donor phone call checkbox.</description>
        <name>Check_No_Fundraising_Calls</name>
        <label>Check No Fundraising Calls</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_No_Solicitation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoFundraisingCallsChecked</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Telemarketing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Telemarketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_related_to_No_Fundraising_Calls_comm</targetReference>
            </connector>
            <label>NoFundraisingCallsChecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Uncheck the  Marketing SMS and Donor SMS when No SMS is checked</description>
        <name>Check_No_SMS</name>
        <label>Check No SMS</label>
        <locationX>446</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Check_No_Fundraising_Calls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoSMSChecked</name>
            <conditionLogic>(1 AND 2 AND 3) OR  (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_SMS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_related_to_No_SMS</targetReference>
            </connector>
            <label>NoSMSChecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>When No solicitation is checked, uncheck Donor emails, Donor SMS, Donor phone calls</description>
        <name>Check_No_Solicitation</name>
        <label>Check No Solicitation</label>
        <locationX>446</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Check_Do_Not_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoSolicitationChecked</name>
            <conditionLogic>(1 AND 2 AND 3) OR  (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Solicitation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Solicitation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_related_to_No_Solicitation</targetReference>
            </connector>
            <label>NoSolicitationChecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Other Country = &apos;Australia&apos; &amp; Mailing Country is blank, update Mailing Country with &apos;Australia&apos;</description>
        <name>Check_Other_Country</name>
        <label>Check Other Country</label>
        <locationX>446</locationX>
        <locationY>2987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Country_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Mailing_Country</targetReference>
            </connector>
            <label>Other Country Australia</label>
        </rules>
    </decisions>
    <decisions>
        <description>If support 1:1 is checked that means it should have stored the backup, uncheck all the backup</description>
        <name>Check_Support_1_1</name>
        <label>Check Support 1:1</label>
        <locationX>292</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Uncheck_comms_and_Store_Backup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_1_1_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_backup_values</targetReference>
            </connector>
            <label>Support 1:1 is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Support_Personal_1_1_Only</name>
        <label>Check Support Personal 1:1 Only</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_No_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_and_Store_Backup</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restore_Backup_values</targetReference>
            </connector>
            <label>False</label>
        </rules>
        <rules>
            <name>New_and_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Personal_1_1_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_comms_and_Store_Backup_v1</targetReference>
            </connector>
            <label>New and True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentFYStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),7,1)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Before Save and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Before Save and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Do_Not_Contact</targetReference>
        </connector>
        <filterFormula>OR(AND(NOT(ISNEW()),OR(ISCHANGED({!$Record.Support_Personal_1_1_Only__c}),AND({!$Record.npsp__Do_Not_Contact__c},ISCHANGED({!$Record.npsp__Do_Not_Contact__c})),AND({!$Record.HasOptedOutOfEmail},ISCHANGED({!$Record.HasOptedOutOfEmail})),AND({!$Record.No_SMS__c},ISCHANGED({!$Record.No_SMS__c})),AND({!$Record.No_Telemarketing__c},ISCHANGED({!$Record.No_Telemarketing__c})),AND({!$Record.No_Solicitation__c},ISCHANGED({!$Record.No_Solicitation__c})),AND({!$Record.DoNotCall},ISCHANGED({!$Record.DoNotCall})),AND(NOT({!$Record.Support_Updates__c}),ISCHANGED({!$Record.Support_Updates__c})),AND(ISCHANGED({!$Record.Contact_Status__c}),ISPICKVAL({!$Record.Contact_Status__c},&quot;Bereaved Family - on hold&quot;)),AND({!$Record.OtherCountry}=&quot;Australia&quot;,ISBLANK({!$Record.MailingCountry})))),AND(ISNEW(),OR({!$Record.Support_Personal_1_1_Only__c},{!$Record.npsp__Do_Not_Contact__c},{!$Record.HasOptedOutOfEmail},{!$Record.No_SMS__c},{!$Record.No_Telemarketing__c},{!$Record.No_Solicitation__c},{!$Record.DoNotCall},ISPICKVAL({!$Record.Contact_Status__c},&quot;Bereaved Family - on hold&quot;),NOT(ISBLANK({!$Record.Converted_Leads_Birthdate__c})),AND({!$Record.OtherCountry}=&quot;Australia&quot;,ISBLANK({!$Record.MailingCountry})))))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
