force-app/main/default/flows/Dep_Create_new_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Dep_Create new Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dep_Create new Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Dependent</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Conditions__c</field>
            <value>
                <elementReference>$Record.Heart_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Converted from Dependent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Connection_to_CHD__c</field>
            <value>
                <stringValue>Heart Kid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Dependent_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign task to owner of Prim Contact</description>
        <name>Create_Task_Alert</name>
        <label>Create Task Alert</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Contact created from a Dependent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Create_New_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Dependent</name>
        <label>Update Dependent</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Task_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Convert_Dependent_to_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Status__c</field>
            <value>
                <stringValue>Converted to Contact</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Dependents__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
