force-app/main/default/flows/Dep_Contact_Conversion_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Decline_Delay_Form_URL</name>
        <label>Generate Decline/Delay Form URL</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>VisualAntidote__ProcessBuilderGeneratePrefill</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pause_5_minutes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>formRecordId</name>
            <value>
                <stringValue>a1aOb000001rlD7IAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefillFieldAPIName</name>
            <value>
                <stringValue>Dep_to_Contact_Decline_Delay_Form_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisualAntidote__ProcessBuilderGeneratePrefill</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Form_URL</name>
        <label>Generate Form URL</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>VisualAntidote__ProcessBuilderGeneratePrefill</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Decline_Delay_Form_URL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>formRecordId</name>
            <value>
                <stringValue>a1aOb0000013g0YIAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefillFieldAPIName</name>
            <value>
                <stringValue>Dependent_to_Contact_Form_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisualAntidote__ProcessBuilderGeneratePrefill</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Prim_Contact_Email</name>
        <label>Send Prim Contact Email 1</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XOb000000yaqDMAQ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Identifies Dependent who turn 14 and begins the conversion to Contact process</description>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Dep_Contact Conversion Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dep_Contact Conversion Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_Dependent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contact Conversion Process Started - Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Dependent</name>
        <label>Update Dependent</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Contact_Conversion_Process_Started_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Conversion_Process_Started__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Form_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dependent_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted to Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Age__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Conversion_Process_Started__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Test_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Dependents__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-03-27</startDate>
            <startTime>13:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <description>Designed to ensure URL has been created and mapped to Dependent before email template is accessed at next step</description>
        <name>Pause_5_minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 5 minutes</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Prim_Contact_Email</targetReference>
            </connector>
            <label>el_0</label>
            <offset>5</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
