force-app/main/default/flows/GEM_Portal_Flow_Create_Opportunity_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Capture the account id from the grant portal record</description>
        <name>Assign_Account_Record</name>
        <label>Assign Account Record</label>
        <locationX>248</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AccountLinkedToGrant.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Related_To_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closing_Date_To_Global_Config</name>
        <label>Assign Closing Date To Global Config</label>
        <locationX>633</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>opportunityClosingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Strategic__DefaultOpportunityDate__c.Strategic__DefaultOpportunityDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Related_To_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_ClosingDate</name>
        <label>Assign Opportunity Closing Date</label>
        <locationX>369</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>opportunityClosingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Closing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_To_Opportunity</name>
        <label>Assign Record Type To Opportunity</label>
        <locationX>501</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_of_Grant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Name_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Opportunity</name>
        <label>Assign Values to Opportunity</label>
        <locationX>248</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLinkedToGrant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityClosingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Grant_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Application_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Application_Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Closing_Date_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Closing_Date_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Closing_Date_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Closing_Date_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Closing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Closing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Eligibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Eligibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Estimated_Distribution_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Estimated_Distribution_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Exclusions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Exclusions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Funding_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Funding_Criteria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__GEM_Portal_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Grant_Contact_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Contact_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Grant_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Grant_Range_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Range_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Grant_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Opening_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Opening_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Past_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Past_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Total_Grants_Pool__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Total_Grants_Pool__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Strategic__Trustees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Trustees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Program_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Funding_Criteria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Grant_Requirements_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Grant_Application_Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Opportunity_Closing_Date</name>
        <label>Assign Opportunity Closing Date</label>
        <locationX>501</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Closing_Date_To_Global_Config</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GEMP_Grant_has_Closing_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Grant.Strategic__Grant_Closing_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_ClosingDate</targetReference>
            </connector>
            <label>GEMP Grant has Closing Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking the current Grant record&apos;s Account name field</description>
        <name>Check_Account_Exist</name>
        <label>Check Account Exist</label>
        <locationX>501</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist_On_Gem_Portal_Grant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Grant.Strategic__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Record</targetReference>
            </connector>
            <label>Account Exist On Gem Portal Grant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Exist</name>
        <label>Check Contact Exist</label>
        <locationX>248</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Check_Gemp_Contact_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Related_To_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Custom Contact record undder Gem portal</description>
        <name>Check_Gemp_Contact_Exist</name>
        <label>Check Gemp Contact Exist</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_But_Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gemp_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Gemp_Contact_To_Contact</targetReference>
            </connector>
            <label>Exist But Not Converted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GEM Portal Flow - Create Opportunity(Clone) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GEM Portal Flow - Create Opportunity(Clone)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Convert_Gemp_Contact_To_Contact</name>
        <label>Convert Gemp Contact To Contact</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignRecordIdToReference>ContactRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Values_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLinkedToGrant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Gemp_Contact.Strategic__Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Gemp_Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Gemp_Contact.Strategic__Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>AccountLinkedToGrant.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Grant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>248</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Opportunity_Created_Screen</targetReference>
        </connector>
        <inputReference>opportunityVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>501</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Funder_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>501</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grants</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Related_To_Account</name>
        <label>Get Contact Related To Account</label>
        <locationX>248</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant.Strategic__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gemp_Contact</name>
        <label>Get Gemp Contact</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Strategic__GEM_Portal_Grant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Strategic__GEMP_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant</name>
        <label>Get Grant</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gemp_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Strategic__GEMPortal_Grants__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_of_Grant</name>
        <label>Get Record Type of Grant</label>
        <locationX>501</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_of_Grant</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Grant.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Strategic__GEM_Portal_Grant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityExists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Account Name field on Grant Portal Record</description>
        <name>Update_Grant_Record</name>
        <label>Update Grant Record</label>
        <locationX>754</locationX>
        <locationY>1514</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Gemp_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategic__Account__c</field>
            <value>
                <elementReference>AccountLinkedToGrant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Strategic__GEMPortal_Grants__c</object>
    </recordUpdates>
    <screens>
        <name>Opportunity_Created_Screen</name>
        <label>Opportunity Created Screen</label>
        <locationX>248</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_Created_Screen_Body</name>
            <fieldText>&lt;p&gt;A new Opportunity has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Stage_Name_Screen</name>
        <label>Opportunity Stage Name Screen</label>
        <locationX>501</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Closing_Date</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>opportunityVar.StageName</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Grant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the account ID from the account selector.</description>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountLinkedToGrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Strategic__GEMPortal_Grants__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>opportunityClosingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityExists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
