force-app/main/default/flows/GEM_Portal_Flow_Update_Opportunity_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closing_Date_To_Global_Config</name>
        <label>Assign Closing Date To Global Config</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>opportunityClosingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Strategic__DefaultOpportunityDate__c.Strategic__DefaultOpportunityDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_ClosingDate</name>
        <label>Assign Opportunity Closing Date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>opportunityClosingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGrant.Strategic__Grant_Closing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Opportunity_Closing_Date</name>
        <label>Assign Opportunity Closing Date</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Closing_Date_To_Global_Config</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GEMP_Grant_has_Closing_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGrant.Strategic__Grant_Closing_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_ClosingDate</targetReference>
            </connector>
            <label>GEMP Grant has Closing Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GEM Portal Flow - Update Opportunity(Clone) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GEM Portal Flow - Update Opportunity(Clone)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Gemp_Contact</name>
        <label>Get Gemp Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Strategic__GEM_Portal_Grant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Strategic__GEMP_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGrant</name>
        <label>Get Grant</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gemp_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Strategic__GEMPortal_Grants__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Closing_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getGrant.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Strategic__GEM_Portal_Grant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getGrant.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityExists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Opportunity_Updated_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityExists.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getGrant.Strategic__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opportunityClosingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Requirements_Website__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Application_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getGrant.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Areas__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Funding_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OpportunityExists.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Application_Process__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Application_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Closing_Date_Notes__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Closing_Date_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Closing_Date_Status__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Closing_Date_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Closing_Date__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Closing_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Eligibility__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Eligibility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Estimated_Distribution_Date__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Estimated_Distribution_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Exclusions__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Exclusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Funding_Criteria__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Funding_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__GEM_Portal_Grant__c</field>
            <value>
                <elementReference>getGrant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Grant_Contact_Notes__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Contact_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Grant_Period__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Grant_Range_Notes__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Range_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Grant_Range__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Opening_Date__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Opening_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Past_Funding__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Past_Funding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Total_Grants_Pool__c</field>
            <value>
                <elementReference>getGrant.Strategic__Total_Grants_Pool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic__Trustees__c</field>
            <value>
                <elementReference>getGrant.Strategic__Grant_Trustees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>Get_Gemp_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Opportunity_Updated_Screen</name>
        <label>Opportunity Updated Screen</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Opportunity_Exists_Screen_Body</name>
            <fieldText>&lt;p&gt;The Opportunity has been successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Strategic__GEM_Portal_Flow_Update_Opportunity</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getGrant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the account ID from the account selector.</description>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityClosingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityExists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
