force-app/main/default/flows/MoveData_Donation_Contact_Record_Match_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Use_Matched_Contact</name>
        <label>Use Matched Contact</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Lookup.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Assess_Alternative_Lookup</name>
        <label>Assess Alternative Lookup</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Result_Found_Alternative_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative_Lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alternative_Lookup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Matched_Contact</targetReference>
            </connector>
            <label>Result Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Anonymous_Contact</name>
        <label>Assess Anonymous Contact</label>
        <locationX>61</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assess_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymous_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Anonymous Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Email</name>
        <label>Assess Email</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_Lookup</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>363</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayPal_Giving_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ppgf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Anonymous_Contact</targetReference>
            </connector>
            <label>PayPal Giving Fund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[MoveData Extension] Donation: Contact - Record Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Contact - Record Match</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Alternative_Lookup</name>
        <label>Alternative Lookup</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Alternative_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_PayPal_Giving_Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>237</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Anonymous</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
