force-app/main/default/flows/MoveData_Donation_Campaign_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_ID_Grassrootz</name>
        <label>Set External ID</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrassrootzKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Grassrootz</name>
        <label>Set External System Name</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key_Grassrootz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_PPGF</name>
        <label>Set External System Name</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Top_Level_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Raisely</name>
        <label>Set External System Name</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraiser_Contact</name>
        <label>Set Fundraiser Contact</label>
        <locationX>688</locationX>
        <locationY>1616</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Page_Url</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Page_Type</name>
        <label>Set Fundraising Page Type</label>
        <locationX>292</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_CampaignRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Page_Type_Individual</name>
        <label>Set Fundraising Page Type</label>
        <locationX>1084</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_CampaignRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Page_Type_Team</name>
        <label>Set Fundraising Page Type</label>
        <locationX>556</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_CampaignRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Page_Type_Team_Member</name>
        <label>Set Fundraising Page Type</label>
        <locationX>820</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Member</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_CampaignRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Grassrootz</name>
        <label>Set Lead Source</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_Grassrootz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_PPGF</name>
        <label>Set Lead Source</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_PPGF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Raisely</name>
        <label>Set Lead Source</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_Raisely</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Originating_Campaign</name>
        <label>Set Originating Campaign</label>
        <locationX>688</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>Record.Originating_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Campaign_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Page_Url</name>
        <label>Set Page Url</label>
        <locationX>688</locationX>
        <locationY>1916</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PageUrl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Parent_Campaign</name>
        <label>Set Parent Campaign</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PPGFParent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PPGFParent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>701Ob000009kly1IAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assess_Campaign_Contact</name>
        <label>Assess Campaign Contact</label>
        <locationX>820</locationX>
        <locationY>1508</locationY>
        <defaultConnector>
            <targetReference>Assess_Page_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_CampaignContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraiser_Contact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_CampaignRecord</name>
        <label>Assess CampaignRecord</label>
        <locationX>820</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>Assess_Campaign_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_CampaignRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Originating_Campaign</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Key</name>
        <label>Assess Key</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assess_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Key_Grassrootz</name>
        <label>Assess Key</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assess_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Key_Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_ID_Grassrootz</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Page_Url</name>
        <label>Assess Page Url</label>
        <locationX>820</locationX>
        <locationY>1808</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_PageUrl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PageUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Page_Url</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>raisely</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Raisely</targetReference>
            </connector>
            <label>Raisely</label>
        </rules>
        <rules>
            <name>Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Grassrootz</targetReference>
            </connector>
            <label>Grassrootz</label>
        </rules>
        <rules>
            <name>PayPal_Giving_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ppgf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_PPGF</targetReference>
            </connector>
            <label>PayPal Giving Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Top_Level_Campaign</name>
        <label>Assess Top Level Campaign</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assess_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Top_Level_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Campaign</targetReference>
            </connector>
            <label>Top Level Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Type</name>
        <label>Assess Type</label>
        <locationX>820</locationX>
        <locationY>908</locationY>
        <defaultConnector>
            <targetReference>Assess_CampaignRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Page_Type</targetReference>
            </connector>
            <label>Organisation</label>
        </rules>
        <rules>
            <name>Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Page_Type_Team</targetReference>
            </connector>
            <label>Team</label>
        </rules>
        <rules>
            <name>Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fundraiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Page_Type_Team_Member</targetReference>
            </connector>
            <label>Team Member</label>
        </rules>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fundraiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Page_Type_Individual</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <description>Added support for Grassrootz and PayPal Giving Fund</description>
    <environments>Default</environments>
    <formulas>
        <name>GrassrootzKey</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Key}, &quot;:&quot;), 
    RIGHT({!Key},LEN({!Key})-Find(&quot;:&quot;, {!Key})), 
    &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>[MoveData Extension] Donation: Campaign - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Campaign - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>TeamKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
