force-app/main/default/flows/MoveData_Donation_Donation_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Donation_Amount</name>
        <label>Set Donation Amount</label>
        <locationX>578</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Record.Donation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonationAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Net_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Grassrootz</name>
        <label>Set External System Name</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_PPGF</name>
        <label>Set External System Name</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Raisely</name>
        <label>Set External System Name</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway</name>
        <label>Set Gateway</label>
        <locationX>446</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Processor_TransactionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Fee</name>
        <label>Set Gateway Fee</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeGateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Donation_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Stripe</name>
        <label>Set Gateway</label>
        <locationX>710</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Processor_TransactionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gatway_Id</name>
        <label>Set Gatway Id</label>
        <locationX>446</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessorTransactionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_SettlementDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Grassrootz</name>
        <label>Set Lead Source</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_Grassrootz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_PPGF</name>
        <label>Set Lead Source</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_PPGF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Raisely</name>
        <label>Set Lead Source</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_External_System_Name_Raisely</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount</name>
        <label>Set Net Amount</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Receipt_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Number</name>
        <label>Set Order Number</label>
        <locationX>248</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>Record.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Platform_Fee</name>
        <label>Set Platform Fee</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Record.Platform_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeePlatform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee_Gateway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receipt_Number</name>
        <label>Set Receipt Number</label>
        <locationX>446</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Record.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_PDF_Download_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receipt_Pdf</name>
        <label>Set Receipt Pdf</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Record.Receipt_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_ReceiptDownloadUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Processor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Settlement_Date</name>
        <label>Set Settlement Date</label>
        <locationX>446</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>Record.Settlement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_SettlementDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Schema</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_Donation</name>
        <label>Set Type Donation</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_Event_Registration</name>
        <label>Set Type Event Registration</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event Registration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_Recurring_Donation</name>
        <label>Set Type Recurring Donation</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring Donation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_Sponser_Donation</name>
        <label>Set Type Sponser Donation</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sponsor Donation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Fee_Gateway</name>
        <label>Assess Fee Gateway</label>
        <locationX>578</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Set_Donation_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_FeeGateway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fee_Platform</name>
        <label>Assess Fee Platform</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gateway</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_FeePlatform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeePlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Key</name>
        <label>Assess Key</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Order_Number</name>
        <label>Assess Order Number</label>
        <locationX>380</locationX>
        <locationY>3566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Number</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_PDF_Download_URL</name>
        <label>Assess PDF Download URL</label>
        <locationX>578</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>Assess_Processor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Custom_ReceiptDownloadUrl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_ReceiptDownloadUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Receipt_Pdf</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>raisely</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Raisely</targetReference>
            </connector>
            <label>Raisely</label>
        </rules>
        <rules>
            <name>Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Grassrootz</targetReference>
            </connector>
            <label>Grassrootz</label>
        </rules>
        <rules>
            <name>PayPal_Giving_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ppgf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_PPGF</targetReference>
            </connector>
            <label>PayPal Giving Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Processor</name>
        <label>Assess Processor</label>
        <locationX>578</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Set_Gateway_Stripe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayPal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PayPal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway</targetReference>
            </connector>
            <label>PayPal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Processor_TransactionId</name>
        <label>Assess Processor TransactionId</label>
        <locationX>578</locationX>
        <locationY>2858</locationY>
        <defaultConnector>
            <targetReference>Assess_SettlementDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_ProcessorTransactionId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessorTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gatway_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Receipt_Number</name>
        <label>Assess Receipt Number</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Assess_PDF_Download_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_ReceiptNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceiptNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Receipt_Number</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Schema</name>
        <label>Assess Schema</label>
        <locationX>578</locationX>
        <locationY>3458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schema</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>commerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Order_Number</targetReference>
            </connector>
            <label>Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_SettlementDate</name>
        <label>Assess SettlementDate</label>
        <locationX>578</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Assess_Schema</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_SettlementDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_SettlementDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Settlement_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Type</name>
        <label>Assess Type</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assess_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecurringDonation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_Recurring_Donation</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
        <rules>
            <name>Sponsor_Donation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_FundraiserKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_OrganisationKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_Sponser_Donation</targetReference>
            </connector>
            <label>Sponsor Donation</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_FundraiserKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_OrganisationKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_Donation</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Event_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schema</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>commerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_Event_Registration</targetReference>
            </connector>
            <label>Event Registration</label>
        </rules>
    </decisions>
    <description>Added support for Grassrootz and PayPal Giving Fund</description>
    <environments>Default</environments>
    <formulas>
        <name>DonationAmountFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Schema}=&apos;commerce&apos;, {!Total}, {!Amount})-IF(ISNULL({!FeePlatform}),0,{!FeePlatform})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NetAmountFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Schema}=&apos;commerce&apos;, {!Total}, {!Amount})-IF(ISNULL({!FeePlatform}),0,{!FeePlatform})-IF(ISNULL({!FeeGateway}),0,{!FeeGateway})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[MoveData Extension] Donation: Donation - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Campaign_FundraiserKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_OrganisationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_TeamKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_ReceiptDownloadUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_SettlementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeGateway</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeePlatform</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessorTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>Schema</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
