force-app/main/default/flows/MoveData_Donation_Contact_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>688</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Record.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Grassrootz</name>
        <label>Set External System Name</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_PPGF</name>
        <label>Set External System Name</label>
        <locationX>1018</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_PayPal_Giving_Fund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_System_Name_Raisely</name>
        <label>Set External System Name</label>
        <locationX>138</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Record.External_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_A_Fundraiser</name>
        <label>Set Is A Fundraiser</label>
        <locationX>534</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>Record.Is_a_Fundraiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Supporter_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_PayPal_Giving_Fund</name>
        <label>Set Is PayPal Giving Fund</label>
        <locationX>930</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Record.Is_PayPal_Giving_Fund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Grassrootz</name>
        <label>Set Lead Source</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_System_Name_Grassrootz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_PPGF</name>
        <label>Set Lead Source</label>
        <locationX>1018</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal Giving Fund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_System_Name_PPGF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Raisely</name>
        <label>Set Lead Source</label>
        <locationX>138</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_External_System_Name_Raisely</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile</name>
        <label>Set Mobile</label>
        <locationX>490</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Preferred_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personal_Email</name>
        <label>Set Personal Email</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Preferred_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Preferred_Email</name>
        <label>Set Preferred Email</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Preferred_Phone</name>
        <label>Set Preferred Phone</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Supporter_Type_Donor</name>
        <label>Set Supporter Type</label>
        <locationX>930</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Record.Supporter_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Supporter_Type_Fundraiser</name>
        <label>Set Supporter Type</label>
        <locationX>138</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Record.Supporter_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Supporter_Type_Regular_Donor</name>
        <label>Set Supporter Type</label>
        <locationX>402</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Record.Supporter_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Donor</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Supporter_Type_Sponser_Donation</name>
        <label>Set Supporter Type</label>
        <locationX>666</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Record.Supporter_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sponsor Donor</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Assess_Contact</name>
        <label>Assess Contact</label>
        <locationX>666</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Assess_Supporter_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraiser</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>metadata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_A_Fundraiser</targetReference>
            </connector>
            <label>Fundraiser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Email</name>
        <label>Assess Email</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Personal_Email</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_External_Id</name>
        <label>Assess External Id</label>
        <locationX>666</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Assess_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_External_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Contact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_External_System_Name_Grassrootz</name>
        <label>Assess External System Name</label>
        <locationX>490</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Set_External_System_Name_Grassrootz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_External_System_Name_Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.External_System_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_External_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_External_System_Name_PPGF</name>
        <label>Assess External System Name</label>
        <locationX>930</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Set_External_System_Name_PPGF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_External_System_Name_PPGF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.External_System_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_PayPal_Giving_Fund</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_External_System_Name_Raisely</name>
        <label>Assess External System Name</label>
        <locationX>50</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Set_External_System_Name_Raisely</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_External_System_Name_Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.External_System_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_External_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Key</name>
        <label>Assess Key</label>
        <locationX>820</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Assess_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Lead_Source_Grassrootz</name>
        <label>Assess Lead Source</label>
        <locationX>490</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Source_Grassrootz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Lead_Source_Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_External_System_Name_Grassrootz</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Lead_Source_PPGF</name>
        <label>Assess Lead Source</label>
        <locationX>930</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Source_PPGF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Lead_Source_PPGF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_External_System_Name_PPGF</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Lead_Source_Raisely</name>
        <label>Assess Lead Source</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Source_Raisely</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Lead_Source_Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_External_System_Name_Raisely</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Phone</name>
        <label>Assess Phone</label>
        <locationX>666</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Assess_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>666</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Assess_External_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>raisely</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Lead_Source_Raisely</targetReference>
            </connector>
            <label>Raisely</label>
        </rules>
        <rules>
            <name>Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Lead_Source_Grassrootz</targetReference>
            </connector>
            <label>Grassrootz</label>
        </rules>
        <rules>
            <name>PayPal_Giving_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ppgf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Lead_Source_PPGF</targetReference>
            </connector>
            <label>PayPal Giving Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Preferred_Email</name>
        <label>Assess Preferred Email</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Preferred_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Preferred_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Duplicate_Check</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Preferred_Phone</name>
        <label>Assess Preferred Phone</label>
        <locationX>490</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Set_Preferred_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Preferred_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Platform</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Supporter_Type</name>
        <label>Assess Supporter Type</label>
        <locationX>666</locationX>
        <locationY>3326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_Type</name>
            <conditionLogic>1 OR ( 2 AND 3 )</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>metadata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Supporter_Type_Fundraiser</targetReference>
            </connector>
            <label>Fundraiser</label>
        </rules>
        <rules>
            <name>Regular_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recurring_Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Supporter_Type_Regular_Donor</targetReference>
            </connector>
            <label>Regular Donor</label>
        </rules>
        <rules>
            <name>Sponsor_Donor</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_FundraiserKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_OrganisationKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Supporter_Type_Sponser_Donation</targetReference>
            </connector>
            <label>Sponsor Donor</label>
        </rules>
        <rules>
            <name>Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_FundraiserKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_TeamKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_OrganisationKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Supporter_Type_Donor</targetReference>
            </connector>
            <label>Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Duplicate_Check</name>
        <label>Run Duplicate Check</label>
        <locationX>490</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assess_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Run_Duplicate_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added support for Grassrootz and PayPal Giving Fund</description>
    <environments>Default</environments>
    <interviewLabel>[MoveData Extension] Donation: Contact - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Contact - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_FundraiserKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_OrganisationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_TeamKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Recurring_Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
