force-app/main/default/flows/Opportunity_Flow_to_Update_PRM_SRM_on_Contact_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bequest_Flag</name>
        <label>Assign Bequest Flag</label>
        <locationX>2288</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsBequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Donation_Flag</name>
        <label>Assign Donation Flag</label>
        <locationX>2024</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grant_Flag</name>
        <label>Assign Grant Flag</label>
        <locationX>1496</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsGrant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_In_Kind_Gift_Flag</name>
        <label>Assign In-Kind Gift Flag</label>
        <locationX>2552</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsInKindGift</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Major_Gift_Flag</name>
        <label>Assign Major Gift Flag</label>
        <locationX>3344</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsMajorGift</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matching_Gift_Flag</name>
        <label>Assign Matching Gift Flag</label>
        <locationX>3080</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsMatchingGift</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Membership_Flag</name>
        <label>Assign Membership Flag</label>
        <locationX>2816</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsMembership</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PRM_Id</name>
        <label>Assign PRM Id</label>
        <locationX>1496</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>PRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Users_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SRM_Id</name>
        <label>Assign SRM Id</label>
        <locationX>1496</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>SRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Users_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Users_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Grant_Flag</name>
        <label>Assign Corporate Flag</label>
        <locationX>1760</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>IsCorporate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Opp_Record_Types</name>
        <label>Check for Opp Record Types</label>
        <locationX>2552</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Iterate_All_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grant_Flag</targetReference>
            </connector>
            <label>Grant</label>
        </rules>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Grant_Flag</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Donation_Flag</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Bequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bequest_Flag</targetReference>
            </connector>
            <label>Bequest</label>
        </rules>
        <rules>
            <name>In_Kind_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InKindGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_In_Kind_Gift_Flag</targetReference>
            </connector>
            <label>In-Kind Gift</label>
        </rules>
        <rules>
            <name>Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Membership_Flag</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>Matching_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MatchingGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matching_Gift_Flag</targetReference>
            </connector>
            <label>Matching Gift</label>
        </rules>
        <rules>
            <name>Major_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MajorGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Major_Gift_Flag</targetReference>
            </connector>
            <label>Major Gift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Primary</name>
        <label>Check for Primary</label>
        <locationX>1628</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Check_for_Secondary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Users_List.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PRMUsername</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PRM_Id</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Type_Flag</name>
        <label>Check for Record Type Flag</label>
        <locationX>1408</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Grant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsGrant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Grant_Type</targetReference>
            </connector>
            <label>Is Grant</label>
        </rules>
        <rules>
            <name>Is_In_Kind_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInKindGift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_In_Kind_Gift_Type</targetReference>
            </connector>
            <label>Is In-Kind Gift</label>
        </rules>
        <rules>
            <name>Is_Corpoarte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCorporate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Corporate_Type</targetReference>
            </connector>
            <label>Is Corpoarte</label>
        </rules>
        <rules>
            <name>Is_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDonation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Donation_Type</targetReference>
            </connector>
            <label>Is Donation</label>
        </rules>
        <rules>
            <name>Is_Matching_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMatchingGift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Matching_Type</targetReference>
            </connector>
            <label>Is Matching Gift</label>
        </rules>
        <rules>
            <name>Is_Major_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMajorGift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Major_Gift_Type</targetReference>
            </connector>
            <label>Is Major Gift</label>
        </rules>
        <rules>
            <name>Is_Bequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Bequest_Type</targetReference>
            </connector>
            <label>Is Bequest</label>
        </rules>
        <rules>
            <name>Is_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMembership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Membership_Type</targetReference>
            </connector>
            <label>Is Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Secondary</name>
        <label>Check for Secondary</label>
        <locationX>1628</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Users_List.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SRMUsername</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SRM_Id</targetReference>
            </connector>
            <label>Is Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_PRM_SRM_Setting_is_Empty_for_Donation</name>
        <label>Check If PRM &amp; SRM Setting is Empty for Donation</label>
        <locationX>1144</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_PRM_SRM_Settings_for_Donation_Type_and_Blank_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRMUsername</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SRMUsername</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_and_SRM_Users</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <description>Update PRM &amp; SRM on Contact on new Opportunity Create.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Flow to Update PRM &amp; SRM on Contact - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow to Update PRM &amp; SRM on Contact - On Create</label>
    <loops>
        <name>Iterate_All_Opps</name>
        <label>Iterate All Opps</label>
        <locationX>1408</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_All_Opps_Related_to_Primary_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Opp_Record_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Record_Type_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Users_List</name>
        <label>Iterate Users List</label>
        <locationX>1408</locationX>
        <locationY>1584</locationY>
        <collectionReference>Get_PRM_and_SRM_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Primary_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opps_Related_to_Primary_Contact</name>
        <label>Get All Opps Related to Primary Contact</label>
        <locationX>1408</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_and_SRM_Users</name>
        <label>Get PRM and SRM Users</label>
        <locationX>1408</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Users_List</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRMUsername</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRMUsername</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Bequest_Type</name>
        <label>Get PRM &amp; SRM Settings for Bequest Type</label>
        <locationX>2024</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bequest</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Corporate_Type</name>
        <label>Get PRM &amp; SRM Settings for Corporate Type</label>
        <locationX>792</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Donation_Type</name>
        <label>Get PRM &amp; SRM Settings for Donation Type</label>
        <locationX>1144</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_PRM_SRM_Setting_is_Empty_for_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.MailingState</elementReference>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Donation_Type_and_Blank_State</name>
        <label>Get PRM &amp; SRM Settings for Donation Type and Blank State</label>
        <locationX>1232</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blank</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Grant_Type</name>
        <label>Get PRM &amp; SRM Settings for Grant Type</label>
        <locationX>264</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_In_Kind_Gift_Type</name>
        <label>Get PRM &amp; SRM Settings for In-Kind Gift Type</label>
        <locationX>528</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InKindGift</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Major_Gift_Type</name>
        <label>Get PRM &amp; SRM Settings for Major Gift Type</label>
        <locationX>1760</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MajorGift</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Matching_Type</name>
        <label>Get PRM &amp; SRM Settings for Matching Gist Type</label>
        <locationX>1496</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MatchingGift</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Membership_Type</name>
        <label>Get PRM &amp; SRM Settings for Membership Type</label>
        <locationX>2288</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_and_SRM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRMUsername</assignToReference>
            <field>SRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>1408</locationX>
        <locationY>2376</locationY>
        <inputAssignments>
            <field>Primary_Relationship_Manager__c</field>
            <value>
                <elementReference>PRMId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Relationship_Manager__c</field>
            <value>
                <elementReference>SRMId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.npsp__Primary_Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_Opps_Related_to_Primary_Contact</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IsBequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsCorporate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsDonation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsGrant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsInKindGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMajorGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMatchingGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMembership</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRMUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRMUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
