force-app/main/default/flows/Opportunity_Flow_to_Update_PRM_Contact_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bequest_Flag</name>
        <label>Assign Bequest Flag</label>
        <locationX>2123</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>IsBequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Donation_Flag</name>
        <label>Assign Donation Flag</label>
        <locationX>1859</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>IsDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Grant_Flag</name>
        <label>Assign Corporate Flag</label>
        <locationX>1595</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>IsCorporate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Opp_Record_Types</name>
        <label>Check for Opp Record Types</label>
        <locationX>1991</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Iterate_All_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Grant_Flag</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Donation_Flag</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Bequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bequest_Flag</targetReference>
            </connector>
            <label>Bequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Type_Flag</name>
        <label>Check for Record Type Flag</label>
        <locationX>1507</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_PRM_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Corpoarte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCorporate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Corporate_Type</targetReference>
            </connector>
            <label>Is Corpoarte</label>
        </rules>
        <rules>
            <name>Is_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDonation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Donation_Type</targetReference>
            </connector>
            <label>Is Donation</label>
        </rules>
        <rules>
            <name>Is_Bequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings_for_Bequest_Type</targetReference>
            </connector>
            <label>Is Bequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Conatct_Account_Record_Type</name>
        <label>Check Primary Contact Account Record Type</label>
        <locationX>935</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_All_Opps_Related_to_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organization_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact1</targetReference>
            </connector>
            <label>Organization Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if  contact&apos;s PRM contains any of the usernames mentioned in the Exceptions For PRM Override.</description>
        <name>CheckPRMExceptionsCustomLabel</name>
        <label>CheckPRMExceptionsCustomLabel</label>
        <locationX>517</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Conatct_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRM_Is_Present_In_Custom_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckPRMOfContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>PRM Is Present In Custom Label</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Exist</name>
        <label>User Exist</label>
        <locationX>1507</locationX>
        <locationY>1500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRM_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRMId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact</targetReference>
            </connector>
            <label>PRM User Found</label>
        </rules>
    </decisions>
    <description>Update PRM  on Contact on new Opportunity Create.</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckPRMOfContact</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.npsp__Primary_Contact__r.Primary_Relationship_Manager__c})) &amp;&amp; CONTAINS({!$Label.Exceptions_For_Fundraiser_PRM_Override},{!$Record.npsp__Primary_Contact__r.Primary_Relationship_Manager__r.Username})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Flow to Update PRM Contact - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow to Update PRM Contact - On Create</label>
    <loops>
        <name>Iterate_All_Opps</name>
        <label>Iterate All Opps</label>
        <locationX>1507</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_All_Opps_Related_to_Primary_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Opp_Record_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Record_Type_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opps_Related_to_Primary_Contact</name>
        <label>Get All Opps Related to Primary Contact</label>
        <locationX>1507</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Bequest_Type</name>
        <label>Get PRM &amp; SRM Settings for Bequest Type</label>
        <locationX>1639</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bequest</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.MailingState</elementReference>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Corporate_Type</name>
        <label>Get PRM &amp; SRM Settings for Corporate Type</label>
        <locationX>1111</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.MailingState</elementReference>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings_for_Donation_Type</name>
        <label>Get PRM &amp; SRM Settings for Donation Type</label>
        <locationX>1375</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.MailingState</elementReference>
            </value>
        </filters>
        <object>PRM_SRM_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>PRMUsername</assignToReference>
            <field>PRM_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_User</name>
        <label>Get PRM User</label>
        <locationX>1507</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRMUsername</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PRMId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>1375</locationX>
        <locationY>1608</locationY>
        <inputAssignments>
            <field>Primary_Relationship_Manager__c</field>
            <value>
                <elementReference>PRMId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.npsp__Primary_Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact1</name>
        <label>Update Primary Contact</label>
        <locationX>363</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Primary_Relationship_Manager__c</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.npsp__Primary_Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CheckPRMExceptionsCustomLabel</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsBequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsCorporate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsDonation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsGrant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsInKindGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMajorGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMatchingGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMembership</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRMUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRMUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
