force-app/main/default/flows/Oppty_Blank_Prim_Camp_Src_Upon_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Custom Oppty &apos;Site&apos; field extracts the micro-site url from the External System Link field</description>
        <name>Check_Site</name>
        <label>Check Site</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>heartkids_org_au</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heartkids.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src2</targetReference>
            </connector>
            <label>heartkids.org.au</label>
        </rules>
        <rules>
            <name>hero4heartkids_org_au</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heto4heartkids.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src3</targetReference>
            </connector>
            <label>hero4heartkids.org.au</label>
        </rules>
        <rules>
            <name>twofeetheartbeat_org_au</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>twofeetheartbeat.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src4</targetReference>
            </connector>
            <label>twofeetheartbeat.org.au</label>
        </rules>
        <rules>
            <name>sweetheartday_org_au</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sweetheartday.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src5</targetReference>
            </connector>
            <label>sweetheartday.org.au</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Site2</name>
        <label>Check Site</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>heartkids_org_au2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heartkids.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src6</targetReference>
            </connector>
            <label>heartkids.org.au</label>
        </rules>
        <rules>
            <name>twofeetheartbeat_org_au2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>twofeetheartbeat.org.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src7</targetReference>
            </connector>
            <label>twofeetheartbeat.org.au</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>1238</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prim_Camp_Src</targetReference>
            </connector>
            <label>Recurring Donation</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Site</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Store_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Site2</targetReference>
            </connector>
            <label>Store Purchase</label>
        </rules>
    </decisions>
    <description>When a Campaign is created and Prim Camp Source is blank this Flow checks criteria and updates Prim Campaign Source field accordingly.</description>
    <environments>Default</environments>
    <interviewLabel>Oppty - Blank Prim Camp Src - Upon Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty - Blank Prim Camp Src - Upon Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Attach_Prim_Contact_as_Camp_Member</name>
        <label>Attach Prim Contact as Camp Member</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006ab0AAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src</name>
        <label>Update Prim Camp Src</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006YI0AAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src2</name>
        <label>Update Prim Camp Src</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006YHBAA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src3</name>
        <label>Update Prim Camp Src</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Attach_Prim_Contact_as_Camp_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006aaxAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src4</name>
        <label>Update Prim Camp Src</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006fNgAAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src5</name>
        <label>Update Prim Camp Src</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7018v0000009dwgAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src6</name>
        <label>Update Prim Camp Src</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006aB3AAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prim_Camp_Src7</name>
        <label>Update Prim Camp Src</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012w0000006fNbAAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
