force-app/main/default/flows/PX_Contact_Update_HK_to_HKA_when_18.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_string_to_PCtoCHD</name>
        <label>Assign new string to PCtoCHD</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Personal_Connection_to_CHD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCtoCHDRemoveHK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PCtoCHD_Add_Heart_Kid_Adult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Variable</name>
        <label>Assign Values to Variable</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>PCtoCHDString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Personal_Connection_to_CHD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_string_to_PCtoCHD</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>PCtoCHDRemoveHK</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!PCtoCHDString}, &apos;Heart Kid;&apos;, null), &apos;Heart Kid&apos;, null)</expression>
    </formulas>
    <interviewLabel>PX_Contact_Update HK to HKA when 18 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PX_Contact_Update HK to HKA when 18</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PCtoCHD_Add_Heart_Kid_Adult</name>
        <label>PCtoCHD_Add &apos;Heart Kid Adult&apos;</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Personal_Connection_to_CHD__c</field>
            <value>
                <stringValue>Heart Kid Adult</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Age__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Age__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Personal_Connection_to_CHD__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Heart Kid</stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PCtoCHDString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Personal_Connection_to_CHD__c</elementReference>
        </value>
    </variables>
</Flow>
