force-app/main/default/flows/PX_Dep_Contact_Reapproach_1_year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Prim_Contact_Email2</name>
        <label>Send Prim Contact Email 2</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XOb000000ybCoMAI</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>PX_Dep_Contact Reapproach 1 year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PX_Dep_Contact Reapproach 1 year</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contact Conversion Process Update - Primary Contact Reapproach Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pause_5_minutes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dependent_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted to Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Age__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Test_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Conv_Next_Contact_Date_is_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Dependents__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-12-20</startDate>
            <startTime>09:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <waits>
        <description>Designed to ensure URL has been created and mapped to Dependent before email template is accessed at next step</description>
        <name>Pause_5_minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 5 minutes</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Prim_Contact_Email2</targetReference>
            </connector>
            <label>el_0</label>
            <offset>5</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
