force-app/main/default/flows/Task_After_Sum_Financial_Assis_CFY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calc_Total_Fin_Assis_Amount_CFY</name>
        <label>Calc Total Fin Assis. Amount CFY</label>
        <locationX>1003</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>sumTotalFinAss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Acct_Fin_Assis_Tasks_CFY.Dollar_value_of_financial_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Acct_Fin_Assis_Tasks_CFY</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Task_After_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task_After_Sum Financial Assis. CFY</label>
    <loops>
        <name>Loop_Thru_Acct_Fin_Assis_Tasks_CFY</name>
        <label>Loop Thru Acct Fin Assis Tasks CFY</label>
        <locationX>1006</locationX>
        <locationY>387</locationY>
        <collectionReference>getAcctFinAssTasks_CFY</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calc_Total_Fin_Assis_Amount_CFY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Acct_Fin_Assis_Total_CFY</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Acct_Tasks_from_CFY</name>
        <label>Get Acct Tasks from CFY</label>
        <locationX>661</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Acct_Fin_Assis_Tasks_CFY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Due_Date_is_This_FY__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>getAcctFinAssTasks_CFY</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dollar_value_of_financial_assistance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acct_Fin_Assis_Total_CFY</name>
        <label>Update Acct Fin Assis. Total CFY</label>
        <locationX>662</locationX>
        <locationY>641</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Financial_Assistance_Provided_CFY__c</field>
            <value>
                <elementReference>sumTotalFinAss</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Acct_Tasks_from_CFY</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getAcctFinAssTasks_CFY</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>sumTotalFinAss</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
