force-app/main/default/flows/Task_After_Sum_Total_Fin_Assis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calc_Total_Fin_Ass_Amount_All</name>
        <label>Calc Total Fin. Ass Amount_All</label>
        <locationX>899</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>TotalFinAssAmount_All</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Acct_Fin_Ass_Tasks.Dollar_value_of_financial_assistance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Acct_Fin_Ass_Tasks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Task_After_Sum Total Fin Assis. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task_After_Sum Total Fin Assis.</label>
    <loops>
        <name>Loop_thru_Acct_Fin_Ass_Tasks</name>
        <label>Loop thru Acct Fin Ass Tasks</label>
        <locationX>1048</locationX>
        <locationY>415</locationY>
        <collectionReference>AcctFinAssTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calc_Total_Fin_Ass_Amount_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Acct_Fin_Ass_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAcctTasks</name>
        <label>getAcctTasks</label>
        <locationX>773</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Acct_Fin_Ass_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AcctFinAssTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dollar_value_of_financial_assistance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acct_Fin_Ass_Total</name>
        <label>Update Acct Fin Ass Total</label>
        <locationX>588</locationX>
        <locationY>549</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Financial_Assistance_Provided_new__c</field>
            <value>
                <elementReference>TotalFinAssAmount_All</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAcctTasks</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollar_value_of_financial_assistance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFinAssTasks</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AcctFinAssTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>getAcctFinAssTasks_CFY</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>sumTotalFinAss</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumTotalFinAss_All</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFinAssAmount_All</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
