force-app/main/default/flows/Update_PRM_SRM_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PRM</name>
        <label>Assign PRM</label>
        <locationX>1337</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>PRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PRM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PRMID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Bequest_Flag</name>
        <label>Assignment for Bequest Flag</label>
        <locationX>2338</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>IsBequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportuntiyRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bequest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Corporate_Flag</name>
        <label>Assignment for Corporate Flag</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsCorporateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsDonationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsBequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportuntiyRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Donation_Flag</name>
        <label>Assignment for Donation Flag</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>IsDonationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsBequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportuntiyRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PRM_as_Account_Owner</name>
        <label>PRM as Account Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PRMID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Account RT is Organization then Contact PRM equal to Account Owner</description>
        <name>Check_Account_RT</name>
        <label>Check Account RT</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_All_Opps_Related_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exdecute PRM Logic from MDT</defaultConnectorLabel>
        <rules>
            <name>RT_is_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRM_as_Account_Owner</targetReference>
            </connector>
            <label>RT is Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Corporate_and_Donation_Flag</name>
        <label>Check for Corporate and Donation Flag</label>
        <locationX>2470</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corporate_and_Donation_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCorporateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDonationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Bequest_Flag</targetReference>
            </connector>
            <label>Corporate and Donation is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Corporate_Flag</name>
        <label>Check for Corporate Flag</label>
        <locationX>2030</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corporate_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCorporateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Donation_Flag</targetReference>
            </connector>
            <label>Corporate is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Opp_Types</name>
        <label>Check for Opp Types</label>
        <locationX>2206</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Is_Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Corporate_Flag</targetReference>
            </connector>
            <label>Is Corporate</label>
        </rules>
        <rules>
            <name>Is_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Corporate_Flag</targetReference>
            </connector>
            <label>Is Donation</label>
        </rules>
        <rules>
            <name>Is_Bequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Corporate_and_Donation_Flag</targetReference>
            </connector>
            <label>Is Bequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_OpportunityRTName</name>
        <label>Check for OpportunityRTName</label>
        <locationX>1546</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Check_PRMID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_RT_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportuntiyRecordTypeName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_PRM_Settings</targetReference>
            </connector>
            <label>Opportunity RT is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PRM_User</name>
        <label>Check for PRM User</label>
        <locationX>1469</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Check_PRMID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRR_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PRM_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PRM</targetReference>
            </connector>
            <label>PRR User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Settings_Are_Empty</name>
        <label>Check If Settings Are Empty</label>
        <locationX>1315</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Get_PRM_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_PRM_Settings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PRMID</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PRMID</name>
        <label>Check PRMID</label>
        <locationX>798</locationX>
        <locationY>2315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRMId_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRMId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PRM_on_Contact</targetReference>
            </connector>
            <label>PRMId not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the triggering contact&apos;s PRM contains any of the usernames mentioned in the Exceptions For PRM Override</description>
        <name>CheckPRMExceptionsCustomLabel</name>
        <label>CheckPRMExceptionsCustomLabel</label>
        <locationX>292</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute PRM Logic From Metadata</defaultConnectorLabel>
        <rules>
            <name>Contains_PRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Exceptions_For_Fundraiser_PRM_Override</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Relationship_Manager__r.Username</elementReference>
                </rightValue>
            </conditions>
            <label>Contains PRM</label>
        </rules>
    </decisions>
    <description>Update PRM on Contact on Mailing State Change.</description>
    <environments>Default</environments>
    <interviewLabel>Update PRM &amp; SRM on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PRM on Contact</label>
    <loops>
        <name>Iterate_Opps</name>
        <label>Iterate Opps</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Opps_Related_to_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Opp_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_OpportunityRTName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_PRM_Settings</name>
        <label>Fetch PRM Settings</label>
        <locationX>1315</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Settings_Are_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportuntiyRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PRM_SRM_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opps_Related_to_Contact</name>
        <label>Get All Opps Related to Contact</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_User</name>
        <label>Get PRM User</label>
        <locationX>1469</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PRM_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_PRM_Settings.PRM_Username__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PRM_on_Contact</name>
        <label>Update PRM on Contact</label>
        <locationX>666</locationX>
        <locationY>2423</locationY>
        <inputAssignments>
            <field>Primary_Relationship_Manager__c</field>
            <value>
                <elementReference>PRMId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckPRMExceptionsCustomLabel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsBequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsCorporateType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsDonationType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMatchingSettingFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportuntiyRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRMSRMSettingObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRM_SRM_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>SRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
