force-app/main/default/flows/Update_PRM_SRM_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PRM_Id</name>
        <label>Assign PRM Id</label>
        <locationX>974</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>PRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Users_PRM_SRM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SRM_Id</name>
        <label>Assign SRM Id</label>
        <locationX>974</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>SRMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Users_PRM_SRM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Users_PRM_SRM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Donation_Flag</name>
        <label>Assignment for Donation Flag</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IsDonationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Setting_Assignment</name>
        <label>Default Setting Assignment</label>
        <locationX>930</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>PRMSRMSettingObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_PRM_SRM_Settings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PRM_SRM_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matching_Assignment</name>
        <label>Matching Assignment</label>
        <locationX>666</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>IsMatchingSettingFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PRMSRMSettingObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_PRM_SRM_Settings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PRM_SRM_Settings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Appropriate_Setting</name>
        <label>Check for Appropriate Setting</label>
        <locationX>1018</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Iterate_PRM_SRM_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Matching_Setting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_PRM_SRM_Settings.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MailingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Assignment</targetReference>
            </connector>
            <label>Matching Setting</label>
        </rules>
        <rules>
            <name>Setting_for_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_PRM_SRM_Settings.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Matching_Flag</targetReference>
            </connector>
            <label>Setting for Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Matching_Flag</name>
        <label>Check for Matching Flag</label>
        <locationX>1062</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Iterate_PRM_SRM_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is True</defaultConnectorLabel>
        <rules>
            <name>Is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMatchingSettingFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Setting_Assignment</targetReference>
            </connector>
            <label>Is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Opp_Types</name>
        <label>Check for Opp Types</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Is_Grant_or_In_Kind_Gift_or_Corporate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InKindGift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <label>Is Grant or In-Kind Gift or Corporate</label>
        </rules>
        <rules>
            <name>Is_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opps.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Donation_Flag</targetReference>
            </connector>
            <label>Is Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Primary</name>
        <label>Check for Primary</label>
        <locationX>1106</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Check_for_Secondary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Users_PRM_SRM.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PRMSRMSettingObject.PRM_Username__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PRM_Id</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PRM_and_SRM_List</name>
        <label>Check for PRM and SRM List</label>
        <locationX>578</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users_PRM_SRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PRM_SRM</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Secondary</name>
        <label>Check for Secondary</label>
        <locationX>1106</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users_PRM_SRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Users_PRM_SRM.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PRMSRMSettingObject.SRM_Username__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SRM_Id</targetReference>
            </connector>
            <label>Is Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Settings_Are_Empty</name>
        <label>Check If Settings Are Empty</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Iterate_PRM_SRM_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PRM_SRM_Settings</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Donation_Type_Opp_Exists</name>
        <label>Is Donation Type Opp Exists</label>
        <locationX>600</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDonationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRM_SRM_Settings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update PRM &amp; SRM on Contact on Mailing State Change.</description>
    <environments>Default</environments>
    <interviewLabel>Update PRM &amp; SRM on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PRM &amp; SRM on Contact</label>
    <loops>
        <name>Iterate_Opps</name>
        <label>Iterate Opps</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Opps_Related_to_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Opp_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Donation_Type_Opp_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PRM_SRM_Settings</name>
        <label>Iterate PRM &amp; SRM Settings</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_PRM_SRM_Settings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Appropriate_Setting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PRM_SRM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Users_PRM_SRM</name>
        <label>Iterate Users (PRM &amp; SRM)</label>
        <locationX>886</locationX>
        <locationY>2147</locationY>
        <collectionReference>Get_PRM_SRM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PRM_SRM_on_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opps_Related_to_Contact</name>
        <label>Get All Opps Related to Contact</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM</name>
        <label>Get PRM &amp; SRM</label>
        <locationX>578</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PRM_and_SRM_List</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRMSRMSettingObject.PRM_Username__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRMSRMSettingObject.SRM_Username__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_SRM_Settings</name>
        <label>Get PRM &amp; SRM Settings</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Settings_Are_Empty</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blank</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PRM_SRM_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PRM_SRM_on_Contact</name>
        <label>Update PRM &amp; SRM on Contact</label>
        <locationX>886</locationX>
        <locationY>2939</locationY>
        <inputAssignments>
            <field>Primary_Relationship_Manager__c</field>
            <value>
                <elementReference>PRMId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Relationship_Manager__c</field>
            <value>
                <elementReference>SRMId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opps_Related_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsDonationType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMatchingSettingFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRMSRMSettingObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRM_SRM_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>SRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
