force-app/main/default/flows/Update_Donation_Fields_On_Contact_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_To_Contact_Record</name>
        <label>Assign Values To Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__FirstCloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__FirstCloseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__LastCloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__LastCloseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__AverageAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__AverageAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__Best_Gift_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__Best_Gift_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__LastOppAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__LastOppAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__LargestAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__LargestAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__SmallestAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__SmallestAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__Best_Gift_Year_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__Best_Gift_Year_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__TotalOppAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__TotalOppAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppAmountLastNDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppAmountLastNDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppAmountThisYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppAmountThisYear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppAmountLastYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppAmountLastYear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppAmount2YearsAgo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppAmount2YearsAgo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__NumberOfClosedOpps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__NumberOfClosedOpps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppsClosedLastNDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppsClosedLastNDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppsClosedThisYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppsClosedThisYear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppsClosedLastYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppsClosedLastYear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Contacts.npo02__OppsClosed2YearsAgo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npo02__OppsClosed2YearsAgo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_List_Is_Empty</name>
        <label>Check Contact List Is Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_record</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Donation Fields On Contact From Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Donation Fields On Contact From Account</label>
    <loops>
        <name>Loop_On_Contacts</name>
        <label>Loop On Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_To_Contact_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_List_Is_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_record</name>
        <label>Update Contact record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>contactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <filterFormula>ISNEW()||ISCHANGED({!$Record.npo02__FirstCloseDate__c})|| ISCHANGED({!$Record.npo02__LastCloseDate__c})||ISCHANGED({!$Record.npo02__AverageAmount__c})||ISCHANGED({!$Record.npo02__Best_Gift_Year__c})||ISCHANGED({!$Record.npo02__LastOppAmount__c})||ISCHANGED({!$Record.npo02__LargestAmount__c})||ISCHANGED({!$Record.npo02__SmallestAmount__c})||ISCHANGED({!$Record.npo02__Best_Gift_Year_Total__c})||ISCHANGED({!$Record.npo02__TotalOppAmount__c})||ISCHANGED({!$Record.npo02__OppAmountLastNDays__c})||ISCHANGED({!$Record.npo02__OppAmountThisYear__c})||ISCHANGED({!$Record.npo02__OppAmountLastYear__c})||ISCHANGED({!$Record.npo02__OppAmount2YearsAgo__c})||ISCHANGED({!$Record.npo02__NumberOfClosedOpps__c})||ISCHANGED({!$Record.npo02__OppsClosedThisYear__c})||ISCHANGED({!$Record.npo02__OppsClosedLastNDays__c})||ISCHANGED({!$Record.npo02__OppsClosedLastYear__c})||ISCHANGED({!$Record.npo02__OppsClosed2YearsAgo__c})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
